<div class="layout-container">
    <div class="layout-content">
        <!-- Page content -->
        <div class="container flex-grow-1 container-p-y">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h4 class="font-weight-bold text-fusion mb-4">
                        Staking
                    </h4>
                </div>
                <div class="col-md-6 col-sm-12 text-md-right mb-3">
                    <label class="switcher switcher-sm">
                        <input class="switcher-input" type="checkbox" ng-model="realTimeStatus">
                        <span class="switcher-indicator">
          <span class="switcher-yes">
            <span class="ion ion-md-checkmark"></span>
          </span>
          <span class="switcher-no">
            <span class="ion ion-md-close"></span>
          </span>
        </span>
                        <span class="switcher-label small-gray-text">Auto update</span>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="mb-4">
                        <div class="card gradient-half-primary-body-v1">
                            <div class="card-body px-sm-4 pb-sm-4 ">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <div class="row align-items-center mt-1">
                                                    <p class=""> In order to start tracking your staking rewards,
                                                        please fill in your wallet address.
                                                        Not staking yet and not sure how to get started? Follow <a href="">this</a> guide.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <div class="form-group">
                                                    <label class="form-label">Wallet Address</label>
                                                    <input class="form-control" placeholder="Your wallet address starting with 0x" type="text"
                                                    ng-model="walletAddress"
                                                    >
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-primary" ng-click="saveCookie()"><i class="fa fa-save"></i></button>
                                                    <button class="btn btn-danger" ng-click="deleteCookie()"><i class="fa fa-trash"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="walletAddressSaved !== ''">
                <div class="col-sm-12">
                    <div class="mb-4">
                        <div class="card gradient-half-primary-body-v1">
                            <div class="card-body px-sm-4 pb-sm-4 ">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <div class="row align-items-center mt-1">
                                                    <div class="col-md-3 font-weight-sm-normal mb-1 mb-md-0 label-small">
                                                        Staking Status:
                                                    </div>
                                                    <div class="col-md-9 text-md-right">
                                                                <span class="font-weight-sm-bold mr-1">
                                                                    <span class="badge badge-success">2.5 FSN</span>
                                                                </span>
                                                    </div>
                                                </div>
                                                <hr class="hr-space">
                                                <div class="row align-items-center mt-1">
                                                    <div class="col-md-3 font-weight-sm-normal mb-1 mb-md-0 label-small">
                                                        Tickets:
                                                    </div>
                                                    <div class="col-md-9 text-md-right">
                                                        <span class="font-weight-sm-bold mr-1 text-blue">{{blockData.transactions.length}}</span>
                                                    </div>
                                                </div>
                                                <hr class="hr-space">
                                                <div class="row align-items-center mt-1">
                                                    <div class="col-md-3 font-weight-sm-normal mb-1 mb-md-0 label-small">
                                                        Rewards to Date:
                                                    </div>
                                                    <div class="col-md-9 text-md-right">
                                                        <span class="font-weight-sm-bold mr-1 text-blue">{{blockData.number}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
