// =============================================================================
// MAIN THEME STYLES
// =============================================================================
// Import all Variables
// -----------------------------------------------------------------------------
@import 'variables/index';
// -----------------------------------------------------------------------------
// Import Sections
// -----------------------------------------------------------------------------
@import 'sections/view-one/index';
@import 'sections/view-two/index';
// -----------------------------------------------------------------------------

.max-chars {
  display: inline-block;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  background-color: #f6f7f8 !important;
}

.layout-content {
  background-color: #f6f7f8 !important;
}

.text-blue {
  font-family: Roboto;
  color: #062144 !important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
}

hr {
  border-color: #bec5cf !important;
}

.label-small {
  font-family: Roboto;
  font-size: 13px !important;
  font-weight: normal !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #6a6f75 !important;
}

.badge-light-blue {
  background-color: #e4e9f0;
  color: #062144;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.btn-outline-white {
  border-radius: 3px;
  background-color: white !important;
  color: #062144 !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16)!important;
  border: 0 solid #fff!important;
}

.fsn-big {
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #263238;
}

.text-fusion {
  color: #062144 !important;
}

.card {
  border-color: #bec5cf !important;
}

.tabs-alt.nav-tabs .nav-link.active, .tabs-alt.nav-tabs .nav-link.active:hover, .tabs-alt.nav-tabs .nav-link.active:focus, .tabs-alt > .nav-tabs .nav-link.active, .tabs-alt > .nav-tabs .nav-link.active:hover, .tabs-alt > .nav-tabs .nav-link.active:focus {
  box-shadow: 0 -2px 0 #2a65b0 inset !important;
}

.table {
  table-layout: fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-tabs {
  border-bottom: 1px solid #bec5cf !important;
}

.layout-navbar {
  box-shadow: 0 0px 0 rgba(24, 28, 33, 0.06) !important;
  border-bottom: 1px solid #bec5cf !important;
}

.footer {
  border-top: 1px solid #bec5cf !important;
  background-color: white;
}

.w32 {
  height: 32px !important;
  width: 32px !important;
}

.w40 {
  height: 40px !important;
  width: 40px !important;
}

.btn-circle {
  width: 30px !important;
  height: 30px !important;
  text-align: center !important;
  padding: 6px 0 !important;
  font-size: 12px !important;
  line-height: 1.428571429 !important;
  border-radius: 16px !important;
}
.btn-circle-40 {
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  padding: 6px 0 !important;
  font-size: 12px !important;
  line-height: 1.428571429 !important;
  border-radius: 20px !important;
}

.asset-round {
  padding: 8px 0 !important;
  font-size: 10px !important;
}

.btn-blue {
  background-image: linear-gradient(to bottom, #0f4679, #062144);
  color: white !important;
}

thead {
  border-top: 2px solid white;
}

.input-group-text {
  border-left: 1px solid white !important;
}

.small-gray-text {
  font-size: 12px;
  color: #6c6a75;
  font-family: Roboto
}
.badge-default {
  background-color: rgba(24, 28, 33, 0.07);
  color: #4E5155;
  box-shadow: 0 0px 3px rgba(0,0,0, .1);
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  background-color: #DDDBDD;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
       90deg,
        rgba(#fff, 0) 0,
        rgba(#fff, 0.2) 20%,
        rgba(#fff, 0.5) 60%,
        rgba(#fff, 0)
    );
      animation: shimmer 2s infinite;
      content: '';
    }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

@keyframes loading {
  /* You could think of as "step 1" */
  0% {
    background: rgba(24, 28, 33, 0.07);
  }
  /* You could think of as "step 2" */
  100% {
    background: rgba(24, 28, 33, 0.12);
  }
}

.recent-blocks-item {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

.font-size-12{
  font-size:12px !important;
}
.recent-block-main-item{
  background-color: white;
  box-shadow: inset 0 -1px 0 0 #eceff1;
}

.scrolled {
  transition: transform 3s ease;
  transform: translate3d(0, 0, 0);
  &.ng-enter {
    transform: translate3d(100%, 0, 0);  // Move to the right (up to 100% of width)
  }
  &.ng-enter-active {
    transform: translate3d(0, 0, 0);
  }
  &.ng-leave {
    transform: translate3d(0, 0, 0);
  }
  &.ng-leave-active {
    transform: translate3d(-100%, 0, 0);
  }
}

.scrollable {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}
::-webkit-scrollbar-button {
  height: 0px;
  width: 0px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
  height: 0px;
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(68, 77, 88, 0.27);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.btn-primary{
  background-color: #062144 !important;
}

.card{
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.16) !important;
  border:0px solid white !important;
}

.switcher-input:checked ~ .switcher-indicator {
  background: #02BC77 !important;
  color: #fff;
}

.table th, .table td {
  padding: 0.625rem;
  vertical-align: middle !important;
  border-top: 1px solid #e8e8e9;
}
.h68{
  height:68px !important;
}

.badge-success{
  height: 24px;
  border-radius: 32px !important;
  background-color: #e7fbee !important;
  font-family: Lato;
  font-size: 13px !important;
  font-weight: bold !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3 !important;
  letter-spacing: normal;
  color: #0a9b3c !important;
}

.badge-danger{
  background-color:#ffeeee !important;
  color:#d0021b !important;
  height: 20px !important;
  border-radius: 10px !important;
  padding: 0.2em .417em !important;
  font-size: 14px;
}
.badge-symbol{
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
}

.btn-top-nav {
  height: 40px !important;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(6, 33, 68, 0.1) !important;
  border: solid 1px #bec5cf !important;
  background-color: white;
  font-family: Roboto;
  font-size: 16px !important;
  font-weight: bold !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #062144 !important;
  vertical-align: middle !important;
}
.vertical-align-middle{
  vertical-align:middle !important;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

.search-button{
  background-color:#2a65b0 !important;
  color:white !important;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

.text-muted{
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #607d8b;
}

.card{
  border-radius: 8px !important;
}
.card-header{
  font-family: Lato;
  font-size: 18px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #263238;
}
.card-header{
  border-color:white !important;
}
.card-header:after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  //margin: 0 auto; /* This will center the border. */
  width: 32px; /* Change this to whatever width you want. */
  margin-top:6px;
  padding-top:5px;
  $border: 4px;
  color: #FFF;
  background: linear-gradient(277deg, #5bbbff, #358dcc);;
  background-clip: padding-box; /* !importanté */
}

h4{
  font-family: Lato;
  font-size: 18px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #263238;
}
h4{
  border-color:white !important;
}
h4:after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  //margin: 0 auto; /* This will center the border. */
  width: 32px; /* Change this to whatever width you want. */
  margin-top:6px;
  padding-top:5px;
  $border: 4px;
  color: #FFF;
  background: linear-gradient(277deg, #5bbbff, #358dcc);;
  background-clip: padding-box; /* !importanté */
}

.nav-link{
  padding:5px !important;
  padding-right:15px !important;
  font-family: Lato;
  font-size: 14px !important;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  display: flex !important;
  justify-content: center !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #358dcc !important;
  background-color: #fff;
  border-color: rgba(24,28,33,0.06);
}
.nav-link:before{
  padding-right:7px;
}
.nav-link.dashboard:before {
  content: url('../assets/vendor/images/tab-icon-dashboard-inactive.svg');
}
.nav-link.dashboard.active:before {
  content: url('../assets/vendor/images/tab-icon-dashboard-active.svg');
}
.nav-link.blocks:before {
  content: url('../assets/vendor/images/tab-icon-blocks-inactive.svg');
}
.nav-link.blocks.active:before {
  content: url('../assets/vendor/images/tab-icon-blocks-active.svg');
}
.nav-link.transactions:before {
  content: url('../assets/vendor/images/tab-icon-transactions-inactive.svg');
}
.nav-link.transactions.active:before {
  content: url('../assets/vendor/images/tab-icon-transactions-active.svg');
}
.nav-link.assets:before {
  content: url('../assets/vendor/images/tab-icon-assets-inactive.svg');
}
.nav-link.assets.active:before {
  content: url('../assets/vendor/images/tab-icon-assets-active.svg');
}
.nav-link.addresses:before {
  content: url('../assets/vendor/images/tab-icon-addresses-inactive.svg');
}
.nav-link.addresses.active:before {
  content: url('../assets/vendor/images/tab-icon-addresses-active.svg');
}
.nav-link.staking:before {
  content: url('../assets/vendor/images/tab-icon-staking-inactive.svg');
}
.nav-link.staking.active:before {
  content: url('../assets/vendor/images/tab-icon-staking-active.svg');
}

.tabs-alt.nav-tabs .nav-link.active, .tabs-alt.nav-tabs .nav-link.active:focus, .tabs-alt.nav-tabs .nav-link.active:hover, .tabs-alt>.nav-tabs .nav-link.active, .tabs-alt>.nav-tabs .nav-link.active:focus, .tabs-alt>.nav-tabs .nav-link.active:hover {
  box-shadow: 0 0px 0 white inset!important;
}
.layout-navbar, .nav-tabs {
  border-bottom: 0px solid #bec5cf!important;
  border-bottom-width: 0px !important;
  border-bottom-style: solid !important;
  border-bottom-color: rgb(190, 197, 207) !important;
}
.block-text{
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #358dcc;
}
.block-time{
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: normal;
  color: #607d8b;
}

.btn-square{
  width: 48px;
  height:48px;
  box-shadow: 0 2px 8px 0 rgba(38, 50, 56, 0.12) !important;
}

.card-button{
  padding: .875rem 2.75rem !important;
  margin-bottom: 0;
  background-color: rgba(0,0,0,0);
}
.btn-outline-white-alt{
  border-radius: 5px !important;
  box-shadow: 0 1px 0 0 rgba(38, 50, 56, 0.05) !important;
  border: solid 1px #cfd8dc !important;
  background-color: #ffffff;
  font-family: Lato;
  font-size: 16px !important;
  font-weight: bold !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5 !important;
  letter-spacing: normal !important;
  color: #455a64 !important;
}
.btn-outline-white-alt a{
  color:#455a64 !important;
}
.small-gray-text{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #607d8b;
}
.badge-transaction{
  color: #358dcc !important;
  background-color: #e7f3fb !important;
}
