<div class="layout-container">
    <div class="layout-content">
        <!-- Page content -->
        <div class="container flex-grow-1 container-p-y">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h4 class="font-weight-bold text-fusion mb-4" translate="BLOCKS_BLOCKS">
                        Blocks
                    </h4>
                </div>
            </div>

            <div>
                <div class="row">
                    <!--Loading part-->
                    <div class="col-sm-12" ng-show="loading">
                        <div class="mb-4">
                            <div class="card gradient-half-primary-body-v1">
                                <div class="card-body px-sm-4 pb-sm-4">
                                    <div class="row align-items-center mt-1">
                                        <div class="col-md-3 col-xs-12 font-weight-sm-normal mb-1 mb-md-0 label-small">
                                            <div class="input-group">
                                                <input type="number"
                                                       min="0"
                                                       class="form-control" ng-model="blockNumber"
                                                       translate
                                                       translate-attr-placeholder="BLOCKS_GOTOBLOCK"
                                                       placeholder="Go to block">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <a href="./#!/block/{{blockNumber}}"><i
                                                                class="fa fas fa-cube"></i></a></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9 col-xs-12 text-md-right">
                                            <div class="col-md-12">
                                                <form class="form-group form-inline float-md-right">
                                    <span class="small-gray-text text-fusion mr-2"><strong translate="BLOCKS_ROWS">Rows</strong> {{shownRows}}
                                        <span translate="BLOCKS_OF">of</span> {{maxBlock}}</span>
                                                    <span class="small-gray-text mr-2">
                                                        {{currentPage+1}} <span translate="BLOCKS_OF">of</span> {{endPage}}</span>
                                                    <span class="small-gray-text m-1 disabled"><i
                                                            class="fa fa-angle-double-left"
                                                            aria-hidden="true"></i>
                                </span>
                                                    <span class="small-gray-text pl-1 pr-1 m-1 disabled"><i
                                                            class="fa fa-angle-left"
                                                            aria-hidden="true"></i>
                                </span>
                                                    <span class="small-gray-text pl-1 pr-1 m-1 disabled"><i
                                                            class="fa fa-angle-right"
                                                            aria-hidden="true"></i>
                                </span>
                                                    <span class="small-gray-text m-1 disabled"><i
                                                            class="fa fa-angle-double-right"
                                                            aria-hidden="true"></i>
                                </span>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <table class="table table-responsive-sm table-hover">
                                        <thead class="bg-white">
                                        <tr>
                                            <th class="label-small text-left" translate="BLOCKS_BLOCK">Block</th>
                                            <th class="label-small text-left" translate="BLOCKS_AGE">Age</th>
                                            <th class="label-small text-left" translate="BLOCKS_TRANSACTIONS">Transactions</th>
                                            <th class="label-small text-left" translate="BLOCKS_MINER">Miner</th>
                                            <th class="label-small text-left" translate="BLOCKS_GAS_USED">Gas Used</th>
                                            <th class="label-small text-right" translate="BLOCKS_GAS_LIMIT">Gas Limit</th>
                                            <th class="label-small text-right" translate="BLOCKS_REWARD">Reward</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-left">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-default w-50" style="height:18px">
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12" ng-hide="loading">
                        <div class="mb-4">
                            <div class="card gradient-half-primary-body-v1">
                                <div class="card-body px-sm-4 pb-sm-4">
                                    <div class="row align-items-center mt-1">
                                        <div class="col-md-3 font-weight-sm-normal mb-1 mb-md-0 label-small">
                                            <div class="input-group">
                                                <input type="number"
                                                       min="0"
                                                       class="form-control" ng-model="blockNumber"
                                                       translate
                                                       translate-attr-placeholder="BLOCKS_GOTOBLOCK"
                                                       placeholder="Go to block">
                                                <div class="input-group-append">
                                                    <a class="input-group-text" href="./#!/block/{{blockNumber}}">
                                                        <i class="fa fas fa-cube"></i></a>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9 text-md-right">
                                            <div class="col-md-12">
                                                <form class="form-group form-inline float-md-right">
                                    <span class="small-gray-text text-fusion mr-2"><strong translate="BLOCKS_ROWS">Rows</strong> {{shownRows}}
                                        <span translate="BLOCKS_OF">of</span> {{maxBlock}}</span>
                                                    <span class="small-gray-text mr-2">
                                                        {{currentPage+1}} <span translate="BLOCKS_OF">of</span> {{endPage}}</span>
                                                    <span class="small-gray-text m-1"
                                                          ng-click="firstPage()"><i class="fa fa-angle-double-left"
                                                                                    aria-hidden="true"></i>
                                </span>
                                                    <span class="small-gray-text pl-1 pr-1 m-1"
                                                          ng-click="previousPage()"><i class="fa fa-angle-left"
                                                                                       aria-hidden="true"></i>
                                </span>
                                                    <span class="small-gray-text pl-1 pr-1 m-1"
                                                          ng-hide="currentPage+1 == endPage"
                                                          ng-click="nextPage()"><i class="fa fa-angle-right"
                                                                                   aria-hidden="true"></i>
                                </span>
                                                    <span class="small-gray-text m-1"
                                                          ng-hide="currentPage+1 == endPage"
                                                          ng-click="lastPage()"><i class="fa fa-angle-double-right"
                                                                                   aria-hidden="true"></i>
                                </span>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <table class="table table-responsive-sm table-hover">
                                        <thead class="bg-white">
                                        <tr>
                                            <th class="label-small text-left" translate="BLOCKS_BLOCK">Block</th>
                                            <th class="label-small text-left" translate="BLOCKS_AGE">Age</th>
                                            <th class="label-small text-left" translate="BLOCKS_TRANSACTIONS">Transactions</th>
                                            <th class="label-small text-left" translate="BLOCKS_MINER">Miner</th>
                                            <th class="label-small text-left" translate="BLOCKS_GAS_USED">Gas Used</th>
                                            <th class="label-small text-right" translate="BLOCKS_GAS_LIMIT">Gas Limit</th>
                                            <th class="label-small text-right" translate="BLOCKS_REWARD">Reward</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="block in blocks | orderBy : '-height'">
                                            <td class="text-fusion text-left"><a href="./#!/block/{{block.block}}">{{block.block}}</a>
                                            </td>
                                            <td class="text-fusion text-left">{{block.age}}</td>
                                            <td class="text-fusion text-left">{{block.transactions}}</td>
                                            <td class="text-fusion text-right"><a href="./#!/address/{{block.miner}}">{{block.miner}}</a>
                                            </td>
                                            <td class="text-fusion text-left">{{block.gasUsed}}
                                                <span class="small-gray-text">({{block.gasPercentageUsed}}%)</span>
                                                <div class="progress mt-1" style="height:2px;">
                                                    <div class="progress-bar bg-primary" role="progressbar"
                                                         style="width:{{block.gasPercentageUsed}}%;" aria-valuenow="{{block.gasPercentageUsed}}" aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td class="text-fusion text-right">{{block.gasLimit}}</td>
                                            <td class="text-fusion text-right">
                                                <span class="badge badge-success">2.5 FSN</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
