<div class="layout-container">
    <div class="layout-content" ng-show="loading">
        <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
                <div class="mw-100 mh-100" translate="DASHBOARD_LOADING">
                    Loading
                </div>
            </div>
        </div>
    </div>
    <div class="layout-content bg-dashboard" ng-show="!loading">
        <!-- Page content -->
        <div class="container flex-grow-1 container-p-y">
            <div class="row">
                <div class="col-sm-12 mb-4">
                    <!-- Modal -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card d-flex w-100">
                                <div class="row no-gutters row-bordered h-100">
                                    <div class="d-flex col-xs-6 col-md-2 align-items-center">
                                        <div class="card-body media align-items-center text-body">
                                            <span class="media-body d-block ml-3">
                          <span class="fsn-big">{{fsnPriceData.price}}</span>

                                                <small class="ml-2 text-success"
                                                       ng-class="{'text-danger' : fsnPriceData.change.toString().indexOf('-') == 0} || {'text-success' : fsnPriceData.change.toString().indexOf('-') !== -1}">
                                                    {{fsnPriceData.change.toFixed(2)}}% (24h)
                                                </small>
                                                <br>
                                                   <small class="text-muted text-uppercase" translate="DASHBOARD_PRICE">Price</small>
                        </span>
                                        </div>

                                    </div>
                                    <div class="d-flex col-xs-6 col-md-2 align-items-center">

                                        <div class="card-body media align-items-center text-body">
                                            <span class="media-body d-block ml-3">

                              <span class="fsn-big text-uppercase">$ {{fsnPriceData.marketCap}}</span>
                                                <br>
                                                              <small class="text-muted text-uppercase" translate="DASHBOARD_MARKETCAP">Market Cap</small>
                        </span>
                                        </div>

                                    </div>
                                    <div class="d-flex col-xs-6 col-md-2 align-items-center">
                                        <div class="card-body media align-items-center text-body">
                                            <span class="media-body d-block ml-3">

                          <span class="fsn-big">{{globalData.maxBlock}}</span>
                                                <br>
   <small class="text-muted text-uppercase" translate="DASHBOARD_BLOCKHEIGHT">Block Height</small>

                        </span>
                                        </div>

                                    </div>
                                    <div class="d-flex col-xs-6 col-md-2 align-items-center">

                                        <div class="card-body media align-items-center text-body">
                                            <span class="media-body d-block ml-3">

                              <span class="fsn-big text-uppercase">{{globalData.totalTransactions}}</span>
                                                <br>
                                                              <small class="text-muted text-uppercase" translate="DASHBOARD_TRANSACTIONS">Transactions</small>

                        </span>
                                        </div>

                                    </div>
                                    <div class="d-flex col-xs-6 col-md-2 align-items-center">
                                        <a class="card-body media align-items-center text-body">
                                            <span class="media-body d-block ml-3">
                                                    <span class="fsn-big text-uppercase">{{globalData.totalAssets}}</span>
                                                <br>
                                                    <small class="text-muted text-uppercase" translate="DASHBOARD_ASSETS">Assets</small>

                                            </span>
                                        </a>
                                    </div>
                                    <div class="d-flex col-xs-6 col-md-2 align-items-center">
                                        <a class="card-body media align-items-center text-body">
                                            <span class="media-body d-block ml-3">
                                                    <span class="fsn-big text-uppercase">{{totalTickets}}</span>
                                                <br>
                                                    <small class="text-muted text-uppercase" translate="DASHBOARD_TICKETS">Tickets</small>

                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-4">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <h6 class="card-header mt-2 mb-2" translate="DASHBOARD_LATESTBLOCKS">
                                    Latest Blocks
                                </h6>
                            </div>
                            <div class="col-md-6 col-xs-6 text-right card-button">
                                <a href="./#!/blocks">
                                    <button class="btn btn-sm btn-outline-white-alt mt-2 mb-2" translate="DASHBOARD_VIEWALL">View All</button>
                                </a>
                            </div>
                        </div>
                        <div class="card-body pt-1">
                            <div ng-repeat="block in recentBlocks"
                                 class="row recent-block-main-item mb-2 p-2 pt-2 pb-2 animation">
                                <div class="col-xs-3 col-sm-2">
                                    <button class="btn btn-outline-white btn-square p-0">
                                        <img src="./assets/vendor/images/tab-icon-blocks-active.svg" alt="">
                                    </button>
                                </div>
                                <div class="col-xs-6 col-sm-7">
                                    <div class="row">
                                        <div class="col-md-6">
                                              <span class="block-text">
                                        <a href="./#!/block/{{block.block}}">{{block.blockFormatted}}</a>
                                    </span>
                                            <br>
                                            <span class="block-time">{{block.timestamp}}</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="recent-blocks-item font-size-12">
                                                <span class="small-gray-text" translate="DASHBOARD_MINEDBY">MINED BY</span> <a
                                                    href="./#!/address/{{block.miner}}">{{block.miner}}</a><br>
                                                <span class="block-time">{{block.transactions}} txns</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-3 text-right align-content-end">
                                    <span class="badge badge-success pl-2 pr-2">2.5 FSN</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-4">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <h6 class="card-header mt-2 mb-2" translate="DASHBOARD_LATESTTRANSACTIONS">
                                    Latest Transactions
                                </h6>
                            </div>
                            <div class="col-md-6 col-xs-6 text-right card-button">
                                <a href="./#!/transactions">
                                    <button class="btn btn-outline-white-alt btn-sm mt-2 mb-2" translate="DASHBOARD_VIEWALL">View All</button>
                                </a>
                            </div>
                        </div>
                        <div class="card-body pt-1">
                            <div ng-repeat="block in recentTransactions"
                                 class="row recent-block-main-item mb-2 p-2 animation">
                                <div class="col-xs-3 col-sm-2">
                                    <button class="btn btn-outline-white btn-square p-0">
                                        <img src="./assets/vendor/images/tab-icon-transactions-active.svg" alt="">
                                    </button>
                                </div>
                                <div class="col-xs-6 col-sm-7">
                                    <div class="row">
                                        <div class="col-sm-6 recent-blocks-item">
                                    <span class="block-text">
                                        <a href="./#!/transaction/{{block.transactionId}}">{{block.transactionId}}</a>
                                    </span>
                                            <br>
                                            <span class="block-time">{{block.timestamp}}</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="recent-blocks-item font-size-12">
                                                <br>
                                                <span class="small-gray-text">BY </span><a
                                                    href="./#!/address/{{block.from}}">{{block.from}}</a><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-3 text-right align-content-end">
                                    <span class="badge badge-success badge-transaction pl-2 pr-2">{{block.type}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
