<div class="layout-container">
    <div class="layout-content" ng-show="loading">
        <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
                <div class="mw-100 mh-100">
                    Loading
                </div>
            </div>
        </div>
    </div>
    <div class="layout-content">
        <!-- Page content -->
        <div class="container flex-grow-1 container-p-y">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h4 class="font-weight-bold text-fusion mb-4">
                        Assets
                    </h4>
                </div>
            </div>

            <div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="mb-4">
                            <div class="card gradient-half-primary-body-v1">
                                <div class="card-body px-sm-4 pb-sm-4">
                                    <div class="row align-items-center mt-1">
                                        <div class="col-md-3 font-weight-sm-normal mb-1 mb-md-0 label-small">
                                            <div class="input-group">
                                                <input type="text" class="form-control" ng-model="assetSearch"
                                                       placeholder="Search asset names">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i
                                                            class="fa fas fa-search"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9 text-md-right">
                                            <div class="col-md-12">
                                                <form class="form-group form-inline float-md-right">
                                    <span class="small-gray-text text-fusion mr-2"><strong>Rows</strong> {{shownRows}}
                                        of {{allAssets.length}}</span>
                                                    <span class="small-gray-text mr-2">
                                        {{currentPage+1}} of {{endPage}}</span>
                                                    <span class="small-gray-text m-1"
                                                          ng-click="firstPage()"><i class="fa fa-angle-double-left"
                                                                                    aria-hidden="true"></i>
                                </span>
                                                    <span class="small-gray-text pl-1 pr-1 m-1"
                                                          ng-click="previousPage()"><i class="fa fa-angle-left"
                                                                                       aria-hidden="true"></i>
                                </span>
                                                    <span class="small-gray-text pl-1 pr-1 m-1"
                                                          ng-hide="currentPage+1 == endPage"
                                                          ng-click="nextPage()"><i class="fa fa-angle-right"
                                                                                   aria-hidden="true"></i>
                                </span>
                                                    <span class="small-gray-text m-1"
                                                          ng-hide="currentPage+1 == endPage"
                                                          ng-click="lastPage()"><i class="fa fa-angle-double-right"
                                                                                   aria-hidden="true"></i>
                                </span>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <table class="table table-responsive-sm table-hover">
                                        <thead class="bg-white">
                                        <tr>
                                            <th class="label-small">Asset Name</th>
                                            <th class="label-small">Asset ID</th>
                                            <th class="label-small text-left">Asset Type</th>
                                            <th class="label-small text-right">Quantity</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="asset in allAssets | orderBy : '-verified' | filter: assetSearch | startFrom: currentPage*pageSize | limitTo:pageSize track by $index">
                                            <td class="text-fusion">
                                                <span ng-show="!asset.hasImage">
                                                       <span ng-if="!asset.hasImage" class="btn btn-blue btn-circle w32 asset-round mr-2">
                                                    {{asset.assetSymbol}}
                                                       </span>
                                                </span>
                                                <span ng-show="asset.hasImage">
                                                    <img ng-if="asset.hasImage" class="mr-2" ng-src="assets/vendor/images/{{asset.verifiedImage}}"/>
                                                </span>
                                                <a href="./#!/asset/{{asset.assetId}}">{{asset.assetName}}</a>
                                                <span class="text-success" ng-show="asset.verified"
                                                      data-toggle="tooltip" data-placement="right" title="Verified">
                                                    <i class="fa fa-check-circle"></i>
                                                </span>
                                            </td>
                                            <td class="text-fusion">
                                                <a href="./#!/asset/{{asset.assetId}}">{{asset.assetId}}</a>
                                            </td>
                                            <td class="text-fusion text-left">
                                                {{asset.assetType}}
                                            </td>
                                            <td class="text-fusion text-right">
                                                <span class="text-uppercase">
                                                    <strong>{{asset.quantity}}</strong>
                                                </span>
                                                <span class="text-tiny">
                                                    {{asset.assetSymbol}}
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
