<div class="layout-container">
   <div class="layout-content" ng-show="transactionData.transactionType == undefined">
       <div class="container flex-grow-1 container-p-y">
           <div class="row">
               <div class="col-md-12 col-sm-12">
                   <h4 class="font-weight-bold text-fusion mb-4">
                       Transaction
                       <span class="badge badge-light-blue ml-2 font-weight-normal">{{blockNumber}}</span>
                   </h4>
               </div>
           </div>
           <div class="row">
               <div class="col-sm-12">
                   <div class="mb-4">
                       <div class="card gradient-half-primary-body-v1">
                           <div class="card-body px-sm-4 pb-sm-4 ">
                               <div class="row">
                                   <div class="col-sm-12">
                                       <div class="media align-items-center">
                                           <div class="media-body">
<div class="align-items-center text-center">
    <p>This transaction has not yet been processed, or was not emitted to the blockchain</p>
    <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
    <div class="layout-content" ng-hide="transactionData.transactionType == undefined">
        <!-- Page content -->
        <div class="container flex-grow-1 container-p-y">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h4 class="font-weight-bold text-fusion mb-4">
                        Transaction
                        <span class="badge badge-light-blue ml-2 font-weight-normal">{{blockNumber}}</span>
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="mb-4">
                        <div class="card gradient-half-primary-body-v1">
                            <div class="card-body px-sm-4 pb-sm-4 ">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <div class="row align-items-center mt-1">
                                                    <div class="col-md-12 font-weight-sm-normal mb-1 mb-md-0 label-small">
                                                        <h4 class="font-weight-bold text-fusion mb-2">
                                                            {{transactionData.transactionType}}
                                                        </h4>
                                                        <h3 ng-if="transactionData.transactionType == 'Send Asset' || transactionData.transactionType == 'Time Lock To Asset' || transactionData.transactionType == 'Asset To Time Lock' || transactionData.transactionType == 'Time Lock To Time Lock'">
                                                                <span class="badge badge-light-blue">{{transactionData.amount}} {{transactionData.asset_symbol}}</span>                                                   
                                                        </h3>
                                                        <h3 ng-if="transactionData.transactionType == 'Create Asset'">
                                                            <span class="badge badge-light-blue">{{transactionData.asset}}</span>
                                                        </h3>
                                                    </div>
                                                    <div class="col-md-3 font-weight-sm-normal mb-2 mb-md-0 label-small">
                                                        From:
                                                    </div>
                                                    <div class="col-md-9 text-md-right">
                                                        <span class="font-weight-sm-bold mr-1 text-blue">
                                                            <a href="./#!/address/{{transactionData.from}}">{{transactionData.from}}</a>
                                                        </span>
                                                    </div>
                                                    <div class="col-md-3 font-weight-sm-normal mb-2 mb-md-0 label-small" ng-if="transactionData.transactionType != 'Create Asset'">
                                                        To:
                                                    </div>
                                                    <div class="col-md-9 text-md-right" ng-if="transactionData.transactionType != 'Create Asset'">
                                                        <span class="font-weight-sm-bold mr-1 text-blue">
                                                                <a href="./#!/address/{{transactionData.to}}">{{transactionData.to}}</a>
                                                            </span>
                                                    </div>
                                                    <div class="col-md-3 font-weight-sm-normal mb-2 mb-md-0 label-small">
                                                        Asset:
                                                    </div>
                                                    <div class="col-md-9 text-md-right">
                                                        <span class="font-weight-sm-bold mr-1 text-blue"><a href="./#!/asset/{{transactionData.asset_id}}">{{transactionData.asset}}</a></span>
                                                    </div>
                                                    <div class="col-md-3 font-weight-sm-normal mb-2 mb-md-0 label-small" ng-if="transactionData.timelock">
                                                        Time Lock:
                                                    </div>
                                                    <div class="col-md-9 text-md-right" ng-if="transactionData.timelock">
                                                        <span class="small-gray-text">
                                                        <img src="assets/vendor/images/sendtl.svg">
                                                    {{transactionData.timelock}}
                                                    </span>
                                                    </div>
                                                    <div class="col-md-3 font-weight-sm-normal mb-2 mb-md-0 label-small" ng-if="transactionData.swap">
                                                        Swap Details:
                                                    </div>
                                                    <div class="col-md-9 text-md-right" ng-if="transactionData.swap">
                                                    <span class="badge badge-light-blue ng-binding">{{transactionData.fromSwap}}</span> <i class="fa fa-exchange-alt"></i> <span class="badge badge-light-blue ng-binding">{{transactionData.toSwap}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <div class="row align-items-center mt-1">
                                                    <div class="col-md-3 font-weight-sm-normal mb-1 mb-md-0 label-small">
                                                        Status:
                                                    </div>
                                                    <div class="col-md-9 text-md-right">
                                                        <span class="font-weight-sm-bold mr-1 text-blue">
                                                            <span class="badge badge-success">Success</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <hr class="hr-space">
                                                <div class="row align-items-center mt-1">
                                                    <div class="col-md-3 font-weight-sm-normal mb-1 mb-md-0 label-small">
                                                        Transaction Type:
                                                    </div>
                                                    <div class="col-md-9 text-md-right">
                                                        <span class="font-weight-sm-bold mr-1 text-blue">{{transactionData.transactionType}}</span>
                                                    </div>
                                                </div>
                                                <hr class="hr-space">
                                                <div class="row align-items-center mt-1">
                                                    <div class="col-md-3 font-weight-sm-normal mb-1 mb-md-0 label-small">
                                                        Transaction Hash:
                                                    </div>
                                                    <div class="col-md-9 text-md-right">
                                                            <span class="font-weight-sm-bold mr-1 text-blue max-chars">{{transactionData.hash}}</span>
                                                            <i class="far fa-copy pad-badge" ng-click="copyToClipboard(transactionData.hash)"></i>
                                                    </div>
                                                </div>
                                                <hr class="hr-space">
                                                <div class="row align-items-center mt-1">
                                                    <div class="col-md-3 font-weight-sm-normal mb-1 mb-md-0 label-small">
                                                        Block:
                                                    </div>
                                                    <div class="col-md-9 text-md-right">
                                                                <span class="font-weight-sm-bold mr-1 text-blue">
                                                                    <a href="./#!/block/{{transactionData.block}}">{{transactionData.block}}</a>
                                                                </span>
                                                    </div>
                                                </div>
                                                <hr class="hr-space">
                                                <div class="row align-items-center mt-1">
                                                    <div class="col-md-3 font-weight-sm-normal mb-1 mb-md-0 label-small">
                                                        Age:
                                                    </div>
                                                    <div class="col-md-9 text-md-right">
                                                        <span class="font-weight-sm-bold mr-1 text-blue">{{transactionData.age}}</span>
                                                    </div>
                                                </div>
                                                <hr class="hr-space">
                                                <div class="row align-items-center mt-1">
                                                    <div class="col-md-3 font-weight-sm-normal mb-1 mb-md-0 label-small">
                                                        Gas Used:
                                                    </div>
                                                    <div class="col-md-9 text-md-right">
                                                        <span class="font-weight-sm-bold mr-1 text-blue">{{transactionData.gasUsed}}</span>
                                                    </div>
                                                </div>
                                                <hr class="hr-space">
                                                <div class="row align-items-center mt-1">
                                                    <div class="col-md-3 font-weight-sm-normal mb-1 mb-md-0 label-small">
                                                        Nonce:
                                                    </div>
                                                    <div class="col-md-9 text-md-right">
                                                        <span class="font-weight-sm-bold mr-1 text-blue">{{transactionData.nonce}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="blockData.transactions.length > 0">
                <h4 class="font-weight-bold py-3 text-fusion">
                    Transactions
                </h4>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="mb-4">
                            <div class="card gradient-half-primary-body-v1">
                                <div class="card-body px-sm-4 pb-sm-4 ">
                                    <table class="table table-responsive-sm table-hover">
                                        <thead class="bg-white">
                                        <tr>
                                            <th class="label-small">Transaction Hash</th>
                                            <th class="label-small">Block</th>
                                            <th class="label-small">Age</th>
                                            <th class="label-small">Type</th>
                                            <th class="label-small">Asset(s)</th>
                                            <th class="label-small">Fees</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="transaction in transactionsInBlock">
                                            <td class="text-fusion">{{transaction.txid}}</td>
                                            <td class="text-fusion"><a href="./#!/block/{{transaction.block}}">{{transaction.block}}</a>
                                            </td>
                                            <td class="text-fusion">{{transaction.timeStamp}}</td>
                                            <td class="text-fusion">{{transaction.type}}</td>
                                            <td class="text-fusion">{{transaction.asset}}</td>
                                            <td class="label-small">0.00002</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
